:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgba(0 0 0 / 0.5);
  --gd: rgba(212, 161, 73, 0.591);
  --wh: rgba(255, 255, 255, 0.779);
  --gs: rgba(212, 161, 73, 0.138);
  --gold: rgb(212, 161, 73);
  --font: #5f4823;
  --gy: #313131;
  --gyl: #c8c2ae;
}

#myVideo {
  position: fixed;
  /* display: block; */
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}
@font-face {
  font-family: Saudagar;
  src: url(font/Saudagar.ttf) format("truetype");
}
@font-face {
  font-family: England;
  src: url(font/England.ttf) format("truetype");
}
@font-face {
  font-family: Batusa;
  src: url(font/Batusa.otf) format("opentype");
}

::-webkit-scrollbar-thumb {
  background-color: #444;
}
body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 4000px;
  /* position: relative; */
}

/* body nav {
  position: static;
} */

/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 415px;
  height: 100%;
} */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(img/bg-prewed.jpg); */
  background-size: cover;
  background-position: center;
  background-color: rgba(40, 38, 38, 0.748);
  z-index: -1;
  filter: grayscale();
}
.hero {
  position: relative;
  min-height: 100vh;
}

.hero .spasi {
  padding: 2rem;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  /* font-family: "Great Vibes", cursive; */
  font-family: "Saudagar", serif;
  font-size: 5rem;
  margin-top: 20px;
}

.hero h4 {
  font-size: 1.6rem;
  font-family: "Batusa", serif;
}

.hero h5 {
  margin-top: 8rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: var(--bg);
  background-color: white;
  /* box-shadow: var(--shadow); */
  font-weight: bolder;
  font-family: batusa;
  font-size: 12px;
}

.hero a:hover {
  background-color: var(--gold);
  color: var(--bg);
}

/* .mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 3.2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
} */

.home {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  /* background-image: url(img/bg-prewed.jpg); */
  background-size: cover;
  background-position: center;
  /* background-size: cover; */
  /* background: var(--pink); */
  /* background-color: rgba(40, 38, 38, 0.748) !important; */
  background-color: var(--gold);
  /* backdrop-filter: blur(15px); */
  background-image: url(img/AdatJawaPattern2.webp) !important;
  /* background: var(--bg); */
  /* min-height: 100vh; */
  /* margin-top: 6rem; */
  padding-top: 20rem;
  padding: 1rem;
  /* margin: 10%; */
  margin: 10px;
  border-radius: 2vh;
  /* z-index: -1; */
}
.open {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  /* background-image: url(img/bg-prewed.jpg); */
  background-size: cover;
  background-position: center;
  /* background-size: cover; */
  /* background: var(--pink); */
  /* background-color: rgba(40, 38, 38, 0.748) !important; */
  background-color: var(--gyl);
  /* backdrop-filter: blur(15px); */
  background-image: url(img/AdatJawaPattern1.webp) !important;
  /* background: var(--bg); */
  /* min-height: 100vh; */
  /* margin-top: 6rem; */
  padding-top: 20rem;
  padding: 1rem;
  /* margin: 10%; */
  margin: 10px;
  border-radius: 2vh;
  /* z-index: -1; */
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: white;
  font-family: "Saudagar";
  font-size: 3rem;
  /* font-weight: bold; */
  /* margin-top: 2rem; */
}

.home h2 {
  margin-top: 3rem;
  /* font-weight: bold; */
  /* color: white */
}

.home h3,
.open h3 {
  color: #eaeaea;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: "";
  font-weight: bolder;
  /* margin-bottom: 1rem; */
}

.story h3 {
  color: var(--bg);
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: "";
  font-weight: bolder;
  /* margin-bottom: 1rem; */
}

.home p {
  font-size: 1.1rem;
  color: #eaeaea;
  /* font-family: "Batusa"; */
  /* background-color: var(--gd);
  backdrop-filter: blur(5px);
  border-radius: 2vh; */
  /* padding: 20px;
  margin: 10px; */
}
.open p {
  font-size: 14px;
  color: var(--font) !important;
  /* text-shadow: var(--shadow); */
  padding: 10px;
  margin-top: 4rem;
  font-family: "Batusa";
}

.home .couple,
.open .couple {
  margin-top: 30px;
  /* background-color: var(--gd); */
  /* backdrop-filter: blur(5px); */
  border-radius: 2vh;
  padding: 20px;
  /* margin: 10px; */
  margin-top: 10px;
}

.home .couple h3,
.open .couple h3 {
  font-family: "Saudagar";
  font-size: 2.4rem;
  color: white;
}
.open .couple .gambar {
  width: 100%;
  border-radius: 2vh;
}
.home .couple img {
  width: 100%;
  border-radius: 140px 140px 0px 0px;
}

.home .heart {
  width: 20vh;
  /* height: auto; */
  /* background-color: white; */
  display: flex;
  border-radius: 50%;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

/* .home span .heart {
  margin: auto;
  color: var(--pink);
  padding: 10px;
} */

.home .kotak {
  background-color: var(--wh);
  backdrop-filter: blur(5px);
  padding: 20px;
  transform: translateY(-70px);
  border-radius: 2vh;
  background-image: url(img/AdatJawaOrnament8-1.png);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 10px 8px #0a0a0a65;
}

.open .kotak {
  background-color: var(--gd);
  backdrop-filter: blur(5px);
  padding: 20px;
  transform: translateY(-70px);
  border-radius: 2vh;
  box-shadow: 0px 10px 8px #0a0a0a65;
}

.open .kotak h3,
.home .kotak h3 {
  font-size: medium;
  font-family: Batusa;
  color: var(--font);
}
.open .kotak p,
.home .kotak p {
  font-family: "Batusa";
  margin-top: 1rem;
  color: var(--font);
}

.home .kotak a {
  color: var(--font);
}

.akad {
  background-color: var(--wh);
  /* background: var(--pink); */
  /* background-color: rgba(255, 255, 255, 0.008) !important; */
  /* background-color: rgba(40, 38, 38, 0.554) !important; */
  backdrop-filter: blur(15px);
  background-image: url(img/AdatJawaPattern1.webp);
  /* color: white; */
  padding-top: 5rem;
  padding-bottom: 4rem;
  margin: 10px;
  border-radius: 2vh;
}
.akad .ring {
  padding-top: 2rem;
  font-size: 4rem;
}

.akad h2 {
  color: black;
  font-family: "Saudagar";
  font-size: 3rem;
  padding-top: 2rem;
}

.akad strong {
  font-size: 1.5rem;
  padding: 10px;
}

.akad .ring p {
  font-weight: 100;
  font-size: 1.5rem;
  padding-top: 10px;
  color: black;
}
.akad .map-body {
  border-radius: 2vh;
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin: 10px auto;
}

.info {
  background-color: var(--bg);
  /* background: var(--pink); */
  /* background-color: rgba(255, 255, 255, 0.008) !important; */
  /* background-color: rgba(40, 38, 38, 0.554) !important; */
  backdrop-filter: blur(15px);
  /* background-image: url(img/bg-prewed.jpg); */
  color: white;
  padding-top: 10rem;
  padding-bottom: 4rem;
  margin: 10px;
  border-radius: 2vh;
}

.info .map-body {
  border-radius: 2vh;
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin: 10px auto;
}

.info .alamat,
.akad .alamat {
  font-size: 1.1rem;
  padding-top: 1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  font-family: "Saudagar";
}

.info .card-body {
  font-size: 1.2rem;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

/* .gifts {
  padding-top: 10rem;
  padding-bottom: 8rem;
  background-color: #0a0a0a;
  background-color: rgba(212, 160, 73, 0.4);
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  z-index: 9 !important;
  position: relative; */
/* transform: translateX(0px) translateY(-50px); */
/* transform-origin: ;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
} */

.gifts {
  padding-top: 20rem;
  padding-bottom: 8rem;
  /* background-color: var(--wh) !important; */
  background-color: rgba(212, 160, 73, 0.4) !important;
  background: linear-gradient(
    180deg,
    rgb(212, 161, 73) 8%,
    rgba(255, 255, 255, 0) 20%
  );
}
.gifts ul {
  background-color: var(--gd);
  backdrop-filter: blur(5px);
  border-radius: 2vh;
  padding: 20px;
  margin: 10px;
  color: var(--font);
  /* font-family: "Batusa"; */
  font-weight: bolder;
}

.story,
.gallery,
.rsvp {
  padding-top: 10rem;
  padding-bottom: 8rem;
  background-color: var(--gd);
}

.gallery h2 {
  color: black;
  font-family: "Saudagar";
  font-size: 3rem;
}

.gallery .span {
  margin-top: 12rem;
}
.story span,
.gallery span {
  text-transform: uppercase;
  color: black;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.gifts span {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.gallery .carousel-indicators button.thumbnail {
  width: 100px;
}
.gallery .carousel-indicators button.thumbnail:not(.active) {
  opacity: 0.7;
}
.gallery .carousel-indicators {
  position: static;
}

.story p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--bg);
}
.galery p {
  font-size: 1rem;
  font-weight: 300;
  color: black;
}
.rsvp p,
.gifts p {
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  left: 15%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 15%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: right;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}

/* .timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ff0000;
  border-right: 0 solid #ffffff;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #ff0000;
  border-right: 0 solid #3805f1;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
} */

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.gallery {
  background-color: #f5f5f5;
}

.rsvp {
  background-color: var(--gold);
  /* margin: 10px; */
  padding: 5rem;
}

.rsvp h2 {
  font-size: 3rem;
}

.rsvp p {
  color: white;
}

.rsvp form label {
  color: white;
}

.rsvp button {
  background-color: black;
  color: white;
  border: 1px solid black;
  height: auto;
}

.rsvp button:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
}

.penutup {
  background-color: #c8c2ae;
  /* background-color: white; */
  backdrop-filter: blur(15px);
  background-image: url(img/AdatJawaPattern1.webp);
  padding-top: 5rem;
  padding-bottom: 4rem;
  font-family: Batusa;
  /* margin: 10px; */
  /* border-radius: 2vh; */
}

.penutup .ungkapan h5 {
  font-size: 1.5rem;
  /* margin: 4rem; */
  color: #666666;
  padding: 2rem;
}
.penutup .ungkapan h1 {
  color: #292929;
  font-size: 2rem;
  /* margin: 3rem; */
  font-family: Saudagar;
  font-weight: bolder;
}

.penutup .ungkapan .hadits {
  color: #666666;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.penutup h4 {
  color: #666666;
  margin: 2rem;
}

.penutup p {
  color: #292929;
  font-family: Batusa;
}

.penutup p span {
  font-weight: bold;
}

.penutup h1 {
  font-family: Saudagar;
  /* font-weight: bolder; */
  color: #292929;
  font-weight: bolder;
  font-size: 4rem;
}

footer {
  padding: 3rem;
  background-color: #fff;
  color: #666666;
}

footer a {
  color: #666666;
  font-weight: bold;
  text-decoration: none;
  font-family: "Batusa";
}

/* footer a:hover {
  color: white;
} */

footer .label h1 {
  color: #292929;
  font-weight: bolder;
  /* font-size: 2rem; */
  font-family: "Saudagar";
}
footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

.audio-icon-wrapper,
.audio-icon-wrapper .btn {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: rgb(56, 56, 56) !important;
  opacity: 0.5;
  /* mix-blend-mode: difference; */
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Query */
/* Extra large */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 70px;
  }

  .home .heart {
    display: none;
  }

  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .sticky-top {
    overflow: hidden;
  }

  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }
}

/* mobile phone */

@media (max-width: 572px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 3px;
  }

  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }
}

@media (max-width: 1366px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 35px;
    margin: 3px;
  }

  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }
}
